<div class="container wrapper">
    <form #tweetForm="ngForm" (submit)="onTweetHandler()">
        <div class="form-group">
            <textarea
                type="text"
                (input)="onInputHandler($event)"
                autocomplete="off"
                placeholder="Tweet something..."
                class="form-control"
                name="content"
                [(ngModel)]="tweet.content"
                #content="ngModel"
                minlength="1"
                maxlength="144"
                required
                ></textarea>
            <div>Characters left: {{ characterCount }}</div>
            <div class="hashtags"></div>
        </div>
        <input
            type="submit"
            value="Tweet"
            class="btn btn-primary"
            [disabled]="tweetForm.invalid"
            />
    </form>
</div>
