<p>new-tweet works!</p>
<div class="container wrapper">
    <form #tweetForm="ngForm" (submit)="onTweetHandler()">
        <label>Tweet something</label>
        <input
            type="text"
            class="form-control"
            name="content"
            [(ngModel)]="tweet.content"
            #content="ngModel"
            minlength="1"
            maxlength="144"
            required
            [class.is-invalid]="content.invalid && content.touched"
            />
        <div *ngIf="content.errors && content.touched">
            <small class="text-danger" *ngIf="content.errors['minlength']">Tweet must be at least 1 character</small>
            <small class="text-danger" *ngIf="content.errors['maxlength']">Tweet must be at most 144 characters</small>
        </div>
        <input
            type="submit"
            value="Tweet"
            class="btn btn-primary"
            [disabled]="tweetForm.invalid"
            />
    </form>
</div>
