<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/home">Tweeter</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" role="button">
          <a class="nav-link" (click)="onProfile()">Profile</a>
        </li>
        <!-- <li *ngIf="!authService.getToken()" routerLink="/register" class="nav-item">
          <a class="nav-link">Register</a>
        </li> -->
        <li *ngIf="!authService.getToken()" role="button" routerLink="/login" class="nav-item">
          <a class="nav-link">Login</a>
        </li>
        <li *ngIf="authService.getToken()" role="button" (click)="onLogout()" class="nav-item">
          <a class="nav-link">Logout</a>
        </li>
      </ul>
    </div>
  </nav>