<div class="container">
    <h2 class="text-center">All Products</h2>
  
    <div class="row">
      <div class="col-sm-3" *ngFor="let post of posts">
        <div class="card">
          <img src="{{ post.avatarUrl }}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ post.firstName }}</h5>
            <h5 class="card-title">{{ post.lastName }}</h5>
            <h5 class="card-title">{{ post.userName }}</h5>
            <h5 class="card-title">{{ post.timestamp }}</h5>
            <p class="card-text">{{ post.content }}</p>
            <button (click)="onClickHandler(0)" class="btn btn-primary btn-block">Show Thread</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  