.wrapper{
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    border-color: #888;
    border-style: solid;
    box-shadow: 10px 5px #888;
    margin-top: 10px;
}

.all-posts-vh{
    height: 90vh;
}

.profile-posts-vh {
    overflow-y: scroll;
    height: 50vh
}

.user-info {
    display: flex;
    margin-bottom: 20px;
}

.modal-header {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.modal-footer {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.tweet {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.top-tweet {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.top-tweet * {
    margin: 0;
}

.bot-tweet * {
    margin: 0;
}

.top-reply {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.top-reply * {
    margin: 0;
}

.bot-reply * {
    margin: 0;
}

.tags {
    font-weight: bold;
}

.reply-text {
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
}

ul div {
    margin: 0;
}

ul li p {
    margin: 0;
}

ul div li h5, ul div li p {
    margin: 0;
}

hr {
    color: black;
}