<div [class]="className">
  <ul class="tweet" *ngFor="let post of posts; let first = first">
    <hr *ngIf="!first" />
    <div class="top-tweet">
      <div class="user-info">
        <li>
          <img
            src="{{ post.avatarUrl }}"
            onerror="this.src='../../../assets/placeholder-image.png'"
            width="40px"
            alt="avatar"
            class="avatar"
          />
        </li>
        <li style="padding-left: 5px" class="text-left">
          <h5 class="semibold-ellipsis nm">
            {{ post.user.firstName }} {{ post.user.lastName }}
          </h5>
          <p class="nm">&#64;{{ post.user.username }}</p>
        </li>
      </div>
      <li>
        <p class="text-muted">{{ post.created }}</p>
      </li>
    </div>

    <li>
      <p>{{ post.content }}</p>
    </li>

    <li style="font-weight: bold">
      {{ returnTag(post?.tags) }}
    </li>

    <p
        role="button"
        data-toggle="modal"
        data-target="#exampleModalCenter"
        (click)="passPostInfoToModal(post)"
        class="reply-text"
        *ngIf="checkRepliesQuantity(post.replies) == 0"
      >
        Leave a Reply!
      </p>
    <li>
      <p
        role="button"
        data-toggle="modal"
        data-target="#exampleModalCenter"
        (click)="passPostInfoToModal(post)"
        class="reply-text"
        *ngIf="checkRepliesQuantity(post.replies) == 1"
      >
        {{ getRepliesQuantity(post.replies) }} Reply
      </p>
      <p
        role="button"
        data-toggle="modal"
        data-target="#exampleModalCenter"
        (click)="passPostInfoToModal(post)"
        class="reply-text"
        *ngIf="checkRepliesQuantity(post.replies) > 1"
      >
        {{ getRepliesQuantity(post.replies) }} Replies
      </p>
    </li>
  </ul>
</div>

<div
  class="modal fade"
  id="exampleModalCenter"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="top-tweet">
          <div class="user-info">
            <li>
              <img
                src="{{ modalPost?.avatarUrl }}"
                onerror="this.src='../../../assets/placeholder-image.png'"
                width="40px"
                alt="avatar"
                class="avatar"
              />
            </li>
            <li style="padding-left: 5px" class="text-left">
              <h5 class="semibold-ellipsis nm">
                {{ modalPost?.user.firstName }} {{ modalPost?.user.lastName }}
              </h5>
              <p class="nm">&#64;{{ modalPost?.user.username }}</p>
            </li>
          </div>
          <li>
            <p class="text-muted">{{ modalPost?.created }}</p>
          </li>
        </div>
        <div class="bot-tweet">
          <p>
            {{ modalPost?.content }}
          </p>
          <p class="tags" *ngIf="modalPost?.tags">
            {{ returnTag(modalPost?.tags) }}
          </p>
        </div>
      </div>

      <div class="modal-body">
        <form #replyForm="ngForm" (submit)="onReplyHandler(modalPost)">
          <div class="form-group">
              <textarea
                  type="text"
                  (input)="onInputHandler($event)"
                  autocomplete="off"
                  placeholder="Reply something..."
                  class="form-control"
                  name="content"
                  [(ngModel)]="reply.content"
                  #content="ngModel"
                  minlength="1"
                  maxlength="144"
                  required
                  ></textarea>
              <div>Characters left: {{ characterCount }}</div>
              <div style="font-weight: bold;" class="reply-hashtags"></div>
          </div>
          <input
              type="submit"
              value="Reply"
              class="btn btn-primary"
              [disabled]="replyForm.invalid"
              />
      </form>
      </div>
      <div class="modal-footer">
        <div style="width: 100%;" *ngFor="let reply of modalPost?.replies; let first = first;">
          <hr *ngIf="!first" />
          <div class="top-reply">
            <div class="user-info">
              <li>
                <img
                  src="{{ reply?.avatarUrl }}"
                  onerror="this.src='../../../assets/placeholder-image.png'"
                  width="40px"
                  alt="avatar"
                  class="avatar"
                />
              </li>
              <li style="padding-left: 5px" class="text-left">
                <h5 class="semibold-ellipsis nm">
                  {{ reply?.user.firstName }} {{ reply?.user.lastName }}
                </h5>
                <p class="nm">&#64;{{ reply?.user.username }}</p>
              </li>
            </div>
            <li>
              <p class="text-muted">{{ reply?.created }}</p>
            </li>
          </div>
          <div class="bot-reply">
            <p>
              {{ reply?.content }}
            </p>
            <p class="tags" *ngIf="reply?.replyTags">
              {{ returnTag(reply?.replyTags) }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
