<app-navbar></app-navbar>
<div class="container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="wrapper">
          <div class="{{ alertClass }}" role="alert">
            {{ alertMessage }}
          </div>
          <h2>Login</h2>
          <hr />
          <form [formGroup]="loginForm" (submit)="onLoginHandler()">
            <div class="form-group">
              <label for="">Email</label>
              <input
                type="text"
                class="form-control"
                formControlName="usernameOrEmail"
                [class.is-invalid]="usernameOrEmail?.invalid && usernameOrEmail?.touched"
              />
              <div *ngIf="usernameOrEmail?.errors && usernameOrEmail?.touched">
                <small class="text-danger" *ngIf="usernameOrEmail?.errors?.['required']"
                  >Email is required</small
                >
                <small class="text-danger" *ngIf="usernameOrEmail?.errors?.['email']"
                  >Email must be valid</small
                >
              </div>
            </div>
  
            <div class="form-group">
              <label for="">Password</label>
              <input
                type="password"
                class="form-control"
                formControlName="password"
                [class.is-invalid]="password?.invalid && password?.touched"
              />
              <div *ngIf="password?.errors && password?.touched">
                <small class="text-danger" *ngIf="password?.errors?.['required']"
                  >Password is required</small
                >
                <small class="text-danger" *ngIf="password?.errors?.['minlength']"
                  >Password must be 6 character long</small
                >
              </div>
            </div>
  
            <input
              type="submit"
              value="Login"
              class="btn btn-primary btn-block"
              [disabled]="loginForm.invalid"
            />
          </form>
          <br />
          <p class="text-center">New User? <a routerLink="/register">Register</a></p>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
  